<html>
    <head>
        <title>HOME</title>
        <style>
            body{
                background: green;
                font-family: Verdana;
                color: white;
                padding: 150px;
            }
            h1{
                font-size: 72px;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-align: center;
            }
            p{
                text-align: center;
                font-size: 40px;
            }
        </style>
    </head> 
    <body>
        <h1>Ini Website <%= namaWeb %></h1>
        <p>Webpage <b><%= person.nama %></b> Umur <%= person.umur %></p>
    </body>
</html>